.list-todo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 5px 20px;
}

.list-checkbox{
    position: relative;

    &-label {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        pointer-events: none;
        &::before {
            display: flex;
            content: ' ';
            height: 16px;
            width: 16px;
            border: 1px solid black;
            border-radius: 5px;
            margin-right: 5px;
            background: white;
        }
        &::after {
            position: absolute;
            top: 5px;
            left: 2px;
            display: flex;
            content: ' ';
            height: 14px;
            width: 14px;
            background: black;
            border-radius: 3px;
            transform: scale(0);
            transition: transform .3s ease;
        }
    }

    &-input {
       position: absolute;
       top: 4px;
       left: 1px;
       height: 16px;
       width: 16px;
       cursor: pointer;

       &:checked + label{
        color: gray;
        text-decoration: line-through;

            &::after {
                transform: scale(1);
            }
        }
    }
}

.buttonsBlock {
    display: flex;
    align-items: center;
}

.list-details {
    background-color: #888888;
    height: 30px;
    padding: 5px 10px;
    margin-right: 15px;
    
    &:hover{
        background-color: #666;
    }

    &:active {
        background-color: #222;
    }

    &:focus {
        outline: 1px solid #222;
    }
}

.list-delButton {
    margin-left: 15px;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    color: white;
    transform: rotate(45deg);
    outline: none;
    cursor: pointer;
    background-color: rgb(249, 172, 172);

    &:hover{
        background-color: rgb(247, 129, 129);
    }

    &:active {
        background-color: rgb(252, 81, 81);
    }

    &:focus {
        outline: 1px solid rgb(252, 81, 81);
    }
}