<!-- <div *ngFor="let t of tasks">
  <div *ngIf="!t.isDone || shouldShowAll" class="list-todo">
    <div class="list-checkbox">
      <input
        class="list-checkbox-input"
        type="checkbox"
        name=""
        id="{{ t.id }}"
        [checked]="t.isDone"
        (click)="handleTaskToggle($event.target)"
      />
      <label class="list-checkbox-label" for="{{ t.id }}">{{ t.title }}</label>
      <div style="font-size: 10px; color: gray">id: {{ t.id }}</div>
    </div>
    <div class="buttonsBlock">
      <todo-app-button
        text="details (dialog)"
        [secondary]="true"
        (btnClick)="dialogOpen(t.id)"
      >
      </todo-app-button>
      <todo-app-button
        text="details (router)"
        [secondary]="true"
        (btnClick)="handleOpenDetails(t.id)"
      >
      </todo-app-button>

      <button
        class="list-delButton"
        (click)="handleTaskDelete($event.target)"
        data-id="{{ t.id }}"
      >
        +
      </button>
    </div>
  </div>
</div> -->

<mat-table [dataSource]="tasks" class="mat-elevation-z2 table-list">
  <ng-container matColumnDef="isDone">
    <mat-header-cell *matHeaderCellDef>status</mat-header-cell>
    <mat-cell *matCellDef="let task">
      <div class="list-checkbox">
        <input
          class="list-checkbox-input"
          type="checkbox"
          id="{{ task.id }}"
          [checked]="task.isDone"
          (click)="handleTaskToggle($event.target)"
          style="top: 3px"
        />
        <label
          class="list-checkbox-label list-checkbox-label__mat"
          for="{{ task.id }}"
          >|</label
        >
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let task" (click)="dialogOpen(task.id)">{{ task.title }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="btns">
    <mat-header-cell *matHeaderCellDef>delete</mat-header-cell>
    <mat-cell *matCellDef="let task">
      <button
        class="list-delButton"
        (click)="handleTaskDelete($event.target)"
        data-id="{{ task.id }}"
      >
        +
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"
  [class.hidden]="!shouldShowAll && myRowData.isDone"
  ></mat-row>
</mat-table>
