<div *ngFor="let t of tasks" >
  <div *ngIf="!t.isDone || shouldShowAll" class="list-todo">
  <div class="list-checkbox" >
    <input
      class="list-checkbox-input"
      type="checkbox"
      name=""
      id="{{ t.id }}"
      [checked]="t.isDone"
      (click)="handleTaskToggle($event.target)"
    />
    <label class="list-checkbox-label" for="{{ t.id }}">{{ t.title }}</label>
    <div style="font-size: 10px; color: gray">id: {{ t.id }}</div>
  </div>
  <div class="buttonsBlock">
    <todo-app-button
      text="details"
      [secondary]="true"
      (btnClick)="handleOpenDetails({target: $event.target, data: t.id})"
    >
    </todo-app-button>

    <button
      class="list-delButton"
      (click)="handleTaskDelete($event.target)"
      data-id="{{ t.id }}"
    >
      +
    </button>
  </div>
</div>
</div>
