.btn-close {
    width: 100%;
}

.btn-second {
    background-color: #888888;
    height: 30px;
    padding: 5px 10px;
    margin: 10px 0px;
    width: initial;
    
    &:hover{
        background-color: #666;
    }

    &:active {
        background-color: #222;
    }

    &:focus {
        outline: 1px solid #222;
    }
}