<div class="header">
  <h1>{{ headerName }}</h1>

  <div class="form-wrapper">
    <form class="form-search">
      <div class="form-control">
        <input
          (input)="handleSearch()"
          type="text"
          name="search"
          id="search"
          placeholder="Search"
          [(ngModel)]="search"
        />
      </div>
    </form>
    <button (click)="clearInput()" class="clearButton">+</button>
  </div>

  <todo-app-button
    text="Add Task"
    [redirectTo]="{outlets: {dialog: ['add']}}"
    (btnClick)="handleAdd()"
  ></todo-app-button>
</div>
