<div class="wrapper">
  <div class="content">
    <form class="add-form" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label for="title">Task</label>
        <input
          type="text"
          name="title"
          [(ngModel)]="title"
          id="title"
          placeholder="Add Task Summary"
        />
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <input
          type="text"
          name="description"
          [(ngModel)]="description"
          id="description"
          placeholder="Add Description"
        />
      </div>
      <input
        type="submit"
        value="Save Task"
        class="btn submit"
        style="width: 100%"
      />
    </form>
    <todo-app-button text="Cancel" redirectTo="/home"></todo-app-button>
  </div>
</div>
